@keyframes bgFadeInOut {
	0% {
		background-color:#333;
	}
	100% {
		background-color:#222;
	}
}

html,
body {
  height: 100%;
  background-color: #333;
  font-size:xx-large;
  animation-name: bgFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  }

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

.cover-container {
    max-width: 42em;
}

.album {
	position: relative;
}

.album-overlay {
	position: absolute;
	top: 25px;
	left: -50px;
}  