.search-title {
	font-family: Impact, Charcoal, sans-serif;
}

.search-box {
	height: 30%;
	width: 100%;
	margin: 0 auto;
}

.search-field {
	width: 800px;
	position: relative;
	float: right;
	top:100%;
	transfrom: translateY(-50%);
}

.search-field input[type=text] {
	border-radius:5px 0px 0px 5px;
	padding: 10px;
	font-size: large;
	border: 1px solid #2196f3;
	float:left;
	width:80%;
	background: #f1f1f1;
}

.search-field button {
	border-radius:0px 5px 5px 0px;
	float:left;
	width:20%;
	padding:10px;
	background:#2196f3;
	color: white;
	font-size: large;
	border: 1px solid #2196f3;
	cursor:pointer;
}

.search-img {
	float: left;
}

.search-break {
	clear: both;
	height: .2em;
}

.results {
	font-size: medium;
	text-align: left;
}