#if($nowPlaying)
	<h2 class="impact">Currently Listening</h2>
	<span class="album">
	#if($nowPlayingArt)
		<img class="album-cover" src=${nowPlayingArt} width="400"></img>
	#else
		<img class="album-cover" src="/images/no_cover_art.jpg" width="400"></img>
	#end
	<img class="album-overlay" src="/images/super_sonico.png" width="200"/>
	</span>
	<h3><i>${nowPlaying.getName()}</i> by <b>${nowPlaying.getArtist()}</b></h3>
#else
	<h2 class="impact">Nothing Playing</h2>
	<img src="/images/sonico_not_playing.png" width="400"/>
#end
<h4 class="impact"> - Last Played - </h4>
<ol class="text-left">
#foreach($track in $recentTracks)
	<li><i>${track.getName()}</i> by <b>${track.getArtist()}</b>
#end
</ol>